<launch>
    <node pkg="rplidar_ros" type="rplidarNode" name="circlelidar" output="screen">
	<param name="serial_port" type="string" value="/dev/ttyUSB0" />
        <param name="serial_baudrate" type="int" value="256000" />
        <param name="frame_id" type="string" value="circle_laser_frame"/>
        <remap from="scan" to="/lidar/scan"/>
    </node>

    <node pkg="zed_wrapper" type="zed_wrapper_node" name="zedodom" output="screen">
        <rosparam file="$(find zed_wrapper)/params/common.yaml" command="load"/>
        <rosparam file="$(find zed_wrapper)/params/zed.yaml" command="load"/>

        <param name="camera_name" value="zed"/>
        <param name="camera_model" value="zed"/>
        <param name="general/frame_rate" value="100"/>
        <param name="general/resolution" value="3"/>
	<param name="pos_tracking/odometry_frame" value="zedodom"/>
    </node>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="zed_pointcloud_to_laserscan" output="screen">
	<remap from="cloud_in" to="/zedodom/point_cloud/cloud_registered"/>
        <remap from="scan" to="/zed/scan"/>
        <param name="scan_time" type="double" value="0.01"/>
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_provider" output="screen">
        <remap from="scan" to="/lidar/scan"/>
        <param name="map_update_interval" value="0.1"/>
        <param name="linearUpdate" value="0.1"/>
        <param name="angularUpdate" value="0.1"/>
        <param name="particles" value="1"/>
        <param name="delta" value="0.1" />
    </node>

    <!--
        <node pkg="tf_base" type="tf_broadcaster" name="rplidar_tf" output="screen"></node>
        <node pkg="tf_base" type="tf_zed" name="zed_tf" output="screen"></node> 
    -->

    <!-- Let's use "x y z yaw pitch roll" instead of the quaternion solution -->
    <node pkg="tf" type="static_transform_publisher" name="zed_l_tf" args="-0.05 0.15 0.08 0 0 0 base_link zed_left_camera_frame 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="rp_lidar_tf" args="0 0 0.08 3.14 0 0 base_link circle_laser_frame 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="zed_c_tf" args="0.0 0.15 0.08 0 0 0 base_link zed_camera_center 1000"/>
   <!-- <node pkg="tf" type="static_transform_publisher" name="odom_link" args="0 0 0 0 0 0 odom base_link 10"/> -->

    <include file="$(find mavros)/launch/px4.launch">
    </include>

    <include file="/home/nvidia/Dev/workspace/src/move_base/move_base/move_base.launch"/>

</launch>
