<launch>
   <master auto="start"/>

     <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_params.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find move_base)/src/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find move_base)/src/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find move_base)/src/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find move_base)/src/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find move_base)/src/base_local_planner_params.yaml" command="load" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />
        <remap from="/cmd_vel" to="/mavros/setpoint_velocity/cmd_vel_unstamped"/>
    </node>

</launch> 
